@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Unbounded:wght@200..900&display=swap');
.unbounded {
    font-family: "Unbounded", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .arsenal-regular {
      font-family: "Arsenal", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    
    .arsenal-bold {
      font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-style: normal;
    }
    
    .arsenal-regular-italic {
      font-family: "Arsenal", sans-serif;
      font-weight: 400;
      font-style: italic;
    }
    
    .arsenal-bold-italic {
      font-family: "Arsenal", sans-serif;
      font-weight: 700;
      font-style: italic;
    }
    
:root {
    --color-primario: #004AAD;
    --color-tercero: #5092e9;
    --color-secundario: #ecf2f7;
    --font-titulo: "Arsenal", sans-serif;
    --font-subtitulo: "Unbounded", sans-serif;
    --font-texto: Arial, Helvetica, sans-serif;

  }
  
*{
    box-sizing: border-box;
    margin: 0;
}


#counter-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: var(--color-primario);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: width 0.3s ease, padding 0.3s ease;
  overflow: hidden;
  white-space: nowrap;
  z-index: 2;

}



.boton{
  border-radius: 30px;
  background-color: #004AAD;
  padding: 10px;
  

}
.boton a{
  width: fit-content;
  text-decoration: none;
  color: var(--color-secundario);
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.boton a:hover{
  font-weight: bold;
}

div#inicio_primera_parte{
  background-image: url(imagenes/Azul.png);
  background-size: cover;
  position: abso; height: 100vh; width: 100%;
  margin: 0;
  display: block;
  background-repeat: no-repeat;

}

nav{
  margin:0;
  width: 100%;
  height: 7vh;
  background-color: var(--color-primario);
  justify-content: center;
  position: absolute;

}
nav ul{
  position: relative;
  left: 50%;
  top: 2vh;
  transform: translate(-50%, -50%);
  width: 70%;
  display: inline-flex;
  list-style: none;
  justify-content: space-between;
  z-index: 2;


}


div.dropdown-menu{
  color: var(--color-secundario);
}
a.dropdown-item{
  color: var(--color-primario);
  font-weight: bold;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
;}

.navbar-toggler{
  width: 50px;
}

nav ul li{
  display: flex;
  font-family: Arial, Helvetica, sans-serif;

}
nav ul li a{
  font-size: small;
  font-weight: bolder;
  padding: 10px;
  color: var(--color-secundario);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav ul li a:hover{
  color: var(--color-tercero);

}

.dropdown-content a{
  color: var(--color-primario);
  display: grid;
}

.dropdown-content{
  display: none;
}
.dropdown:hover .dropdown-content {
  display: block;
  background-color: var(--color-secundario);
  position: absolute;
  top: 5vh;
  width: 15vw;  
  padding: 1%;
  
}
.dropdown-content2 a{
  color: var(--color-primario);
}

.dropdown-content2{
  display: none;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
  background-color: var(--color-secundario);
  position: absolute;
  top: 5vh;
  width: 15vw;  
  padding: 1%;
}


h1{
  font-size: 40px;
  width: 99.9%;
  text-align: center;
  position: relative;
  padding-top: 1%;
  padding-bottom: 1%;
  left: 50%;
  top: 12vh;
  transform: translate(-50%);
  font-family: var(--font-subtitulo);
  font-style: italic; 
  color: var(--color-primario);
  background-color: rgb(240, 210, 78);

}


#mision h2{
    color: var(--color-tercero);
}
#mision p{
    position: relative;
    width: 50vw;
    left: 50%;
  transform: translate(-25%);
  top: 20vh;
  font-size: 1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;

}

img.mision, img.vision{
  width: 10vw;
  position: relative;
  left: 10%;
}


#vision p{
  position: relative;
  width: 50vw;
  left: 50%;
transform: translate(-25%);
top: 20vh;
font-size: 1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
text-align: justify;
}

div#inicio_segunda_parte{
    height: 70vh;
    position: relative;
    
}

#inicio_tercera_parte{
    height: 50vh;
    background-color: var(--color-tercero);
    width: 70vw;
    position: relative;
    left: 50%;
  transform: translate(-50%);
  margin-bottom: 10vh;
  border-radius: 30px;
  margin-top: 20vh;

}


#inicio_tercera_parte h2{
    top: 10vh;
    color: var(--color-secundario);
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

#inicio_tercera_parte p{
    position: relative;
    top: 15vh;
    width: 60vw;
    left: 50%;
  transform: translate(-50%);
  font-size: 1em;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




footer{
  height: 50vh;
  background-color: var(--color-primario);
  position: relative;
}
div.redes{
  width: 300px;
  height: fit-content;
  position: relative;
  left: 10%;
  top: 20%;

}
div.redes p{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

div.redes img{
  width: 45px;
  margin-bottom: 20px;
}
div.redes a{
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#correo_oficial{
  font-weight: bold;
}

div.sucursales{
  width: fit-content;
  position: relative;
  top: -15%;
  left: 35%;
  display: inline-flex;
  line-height: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}
#sedes{
  color: white;
  position: absolute;
  top: -1%;
  font-weight: bold;
}

div#Sucursal_sv{
  margin-right: 10px;
}

#copyright{
  color: white;
  position: absolute;
  width: 99.9%;
  padding-left: 20px;
  padding-top: 20px;
  border-top: solid 1px white;
}

  

@media (max-width: 1071px) {

  nav div.collapse ul{
      width: 90vw;
  }

  
  footer{
    height: 100vh;
    text-align: center;
  }
  div.redes{
    top: 10%;
    width: 40vw;
    left: 50%;
    transform: translate(-50%);
    text-align: center;}

   a#correo_oficial{
      padding: 3vw;
    }
  
  
  div.redes p{
    font-size: 20px;
    text-align: center;
  }
  
  div.redes img{
    width: 10%;
    margin-bottom: 20px;
  }
  div.redes a{
    align-items: center;
  
  }
  
  p#sedes{
  width: fit-content;    
  left: 50%;
  transform: translate(-50%);
  font-size: 3vw;
  }
  
  div.sucursales{
    
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    display: block;
    
  }
  
  
  #copyright{
    position: relative;
    bottom: -25%;

  }

}



@media (max-width: 990px) {

  nav{
    z-index: 1;
  }

  nav ul{
    top: 17vh;
    background-color: var(--color-primario);
    width: 90vw;
    transition: ease-in 0.5s;
    z-index: 0;
  }
  nav ul li{
    padding-left: 5%;
  }
 
  .navbar-toggler{
    z-index: 1;

  }
  .navbar-toggler-icon{
    z-index: 1;

  }
  div.dropdown-menu{
    border: none;
    margin-left: 0%;
    width: 100%;
    background-color: var(--color-primario);
  }

  a.nav-link{
    width: 40%;
    margin-bottom: 2%;
  }

  a.dropdown-item{
    border-left: solid 1px var(--color-secundario);
    color: var(--color-secundario);
    font-weight: bolder;
  }
  a.dropdown-item:hover{
    color: rgb(162, 166, 168);
    background-color: inherit;
  }
  div#inicio_segunda_parte{
    height: 150vh;
  }

  #inicio_tercera_parte{
    top: -10vh;
    height: 63vh;
    width: 90vw;
    margin-bottom: 10vh;
  }
  #inicio_tercera_parte p{
    top: 20vh;
    width: 80%;
  }

  #inicio_segunda_parte #mision img{
    width: 30vw;
    left: 50%;
    transform: translate(-50%);
  }
  #inicio_segunda_parte #vision img{
    top: 10vh;
    width: 30vw;
    left: 50%;
    transform: translate(-50%);
  }
  #inicio_segunda_parte p{
    width: 60vw;
    left: 50%;
    transform: translate(-50%);
  }
  #mision p{
    top: 65vh;
    width: 85vw;
  }
  #vision p{
    top: 75vh;
    width: 85vw;
  }


}

@media (max-width: 700px) {

  nav ul{
    margin-left: 10px;
    top: 17vh;
    background-color: var(--color-primario);
    width: 80vw;
    transition:linear 0.001s;
    z-index: 0;
  } 
  nav{
    z-index: 1;;
  }
  nav{
    z-index: 1;
    height: 10vh;
  }
  
  #inicio_tercera_parte{
    height: 70vh;
   
  }
  #inicio_tercera_parte p{
    top: 15vh;
    width: 90%;
  }
 
  #mision p{
    top: 55vh;
    width: 85vw;
  }
  #vision p{
    top: 70vh;
    width: 85vw;
  }

}